page-home {

element.style {
	background-color: white;
}


.bg {
  position: relative;
  background: url("../assets/imgs/2SIGN-02.png") no-repeat transparent;
  background-size: cover;
  height: 45%;
  z-index: 1;
  background-repeat: repeat-x;
    animation: animatedBackground 15s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

       }

.logo {
  margin: auto;
  background: url("../assets/imgs/2SIGN.1-01.png") repeat transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
}

.info {
  position: relative;
  z-index: 2;
  margin-top: -64px;
  text-align: center;
}

.intro {
  font-size: 18px;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
}

